@model IEnumerable<ComicsMore.Models.ApplicationUser>

@{
    ViewBag.Title = "ManageUsers";
}

<h2>ManageUsers</h2>

<h2>Роли</h2>
<table class="table">
    <tr>
        <th>Nickname</th>
        <th>Role</th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @Html.ActionLink("Edit", "EditProfile", "Profile", new { name = user.UserName }, new { @title = "Edit" }) |
                @Html.ActionLink("Delete", "Delete", new { id = user.Id })
            </td>
        </tr>
    }
</table>