@model IEnumerable<ComicsMore.Models.ApplicationUser>

@{
    ViewBag.Title = "ManageUsers";
}

<h2>ManageUsers</h2>

<table class="table">
    <tr>
        <th>Nickname</th>
        <th>About</th>
        <th></th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.About</td>
            <td>
                @Html.ActionLink("Edit", "EditUser", "Admin", new { name = user.UserName }, new { @title = "Edit" }) |
                @Html.ActionLink("Delete", "DeleteUser", "Admin", new { name = user.UserName }, new { @title = "Delete" })
            </td>
        </tr>
    }
</table>