@model IEnumerable<ComicsMore.Models.ApplicationUser>
@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>
@foreach (ComicsMore.Models.ApplicationUser user in Model)
{
    <tr>
        <td><p>@user.UserName</p></td>
        <td><img src="@user.ProfileImage" alt="" width="50" height="50" /></td>
        <td><p><a href="/Profile/UserProfile/@user.UserName">Page</a></p></td>
    </tr>
}

